<% description = "This contains a whole bunch of text that is used to describe what the user is currently looking at. This description shouldn't be longer than two or three sentences." %>
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Carousel items -->
  <div class="carousel-inner">
    <% company.pages.each.with_index do |page, i|
       item_str = "item"
       item_str += " active" if i.zero? %>
      <div class="<%= item_str %>">
        <img src="<%= page.banner_img_url %>" alt="">
        <div class="carousel-caption">
          <div class="span5">
            <h4><%= page.title %></h4>
            <p><%= page.description.short_body %></p>
          </div>
          <div class="span2">
            <%= link_to "Find out more", "#{page.sheet.name}##{page.name}", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<script type="text/javascript"> 
  $('.carousel').carousel() 
</script>
