<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <% for i in 1..company.pages.count %>
      <% if i==1 %>
        <li data-target="#myCarousel" data-slide-to="<%= i %>" class="active">
      <% else %>
        <li data-target="#myCarousel" data-slide-to="1">
      <% end %>
      </li>
    <% end %>
  </ol>

  <!-- Carousel items -->
  <div class="carousel-inner">
    <% company.pages.each.with_index do |page, i|
       item_str = "item"
       item_str += " active" if i.zero? %>
      <div class="<%= item_str %>">
        <%= image_tag page.banner_image_url %>
        <div class="carousel-caption">
          <div class="span5">
            <h4><%= page.title %></h4>
            <p><%= page.short_description %></p>
          </div>
          <div class="span2">
            <%= link_to "Find out more", "#{page.sheet.name}##{page.name}", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<script type="text/javascript"> 
  $('.carousel').carousel() 
</script>
