<%= form_tag(:sheet_change) do %>
  <div class="span10 offset1 space-top">
    <%= hidden_field_tag :name, @sheet.name %>
    <%= label_tag :subtitle, "Subtitle" %>
    <%= text_area_tag :subtitle, @sheet.subtitle, rows: 2, style: "width: 100%" %>

    <% @sheet.pages.each do |page| %>
      <div class="row">
        <h2 class="text-center"><%= page.title %></h2>
        <div class="span5">
          <%= label_tag "#{page.name}_name", "Name" %>
          <%= text_field_tag "#{page.name}_name", page.name %>

          <%= label_tag "#{page.name}_title", "Title" %>
          <%= text_field_tag "#{page.name}_title", page.title %>

          <%= label_tag "#{page.name}_subtitle", "Subtitle" %>
          <%= text_field_tag "#{page.name}_subtitle", page.subtitle %>

          <%= label_tag "#{page.name}_shortbody", "Short Body" %>
          <%= text_area_tag "#{page.name}_shortbody", page.short_body, rows: 2, style: "width: 90%" %>

          <%= label_tag "#{page.name}_body", "Body" %>
          <%= text_area_tag "#{page.name}_body", page.body, rows: 10, style: "width: 90%" %>
        </div>

        <div class="span5">
          <% page.pictures.each.with_index do |pic,i| %>
            <div class="row space-top">
              <h4 class="text-center">Picture <%= i+1 %></h4>
              <div class="span2">
                <%= image_tag pic.url %>
              </div>
              <div class="span3">
                <%= label_tag "#{pic.id}_title", "Title" %>
                <%= text_field_tag "#{pic.id}_title", pic.title %>

                <%= label_tag "#{pic.id}_subtitle", "Subtitle" %>
                <%= text_area_tag "#{pic.id}_subtitle", pic.subtitle, rows: 3, style: "width: 100%" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="span12 text-center space-top">
    <%= submit_tag "Save Changes", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
