<%= image_tag company.logo_url %>
<div class="row">
  <div class="well span6">
    <h3><%= company.description.title %></h3>
    <p><%= company.description.body.html_safe %></p>
  </div>
  <div class="span4 offset1">
    <%= render "/shared/single_picture", 
               image_url: company.logo_url,
                   quote: "This place rocks!", 
                citation: "Someone Famous" %>
    
    <%= render "/shared/single_picture", 
               image_url: company.logo_url,
                   quote: "OMG! Like so sweet!", 
                citation: "Someone Really Famous",
                 reverse: true %>
  </div>
</div>
<div class="well row span9">
  <div>
    <%= link_to image_tag(company.logo_url), "#", class: "thumbnail img-polaroid" %>
  </div>
  <div class="small-margin">
    <% for i in 1..4 %>
      <div class="span3">
        <%= link_to image_tag(company.logo_url), "#", class: "thumbnail img-polaroid" %>
      </div>
    <% end %>
  </div>
</div>
