<div class="row home">
  <div class="span6">
    <%= render '/static_pages/carousel' %>
  </div>
  <div class="span6">
    <p><%= company.description.body.html_safe %></p>
  </div>
</div>

<% company.sheets.each do |sheet| %>
  <div class="row contents">
    <h1><%= sheet.description.title %></h1>
    <p class="byline">Few words on this sheet's content.</p>
    <% sheet.pages.each.with_index do |page,i| 
      size = "span2"
      if i.zero?
        size += " offset" + ((12-(sheet.pages.count*2))/2).to_s
      end %>
      <a href="<%= "#{sheet.name}##{page.name}" %>">
        <div class="<%= size %>">
          <img src="<%= page.banner_img_url %>" %>
          <h3><%= page.title %></h3>
          <p><%= page.description.short_body %></p>
        </div>
      </a>
  <% end %>
  </div>
<% end %>
