<%= image_tag company.logo_url %>
<div class="row">
  <div class="well span6">
    <h3><%= company.description.title %></h3>
    <p><%= company.description.body.html_safe %></p>
  </div>
  <div class="span4 offset1">
    <div class="row well">
      <%= link_to image_tag(company.logo_url, size: "300x300"), "#", class: "thumbnail" %>
      <blockquote class="small-margin">
        <p>This place rocks!</p>
        <small>Someone Famous</small>
      </blockquote>
    </div>
    <div class="row well">
      <%= link_to image_tag(company.logo_url, size: "300x300"), "#", class: "thumbnail" %>
      <blockquote class="small-margin pull-right">
        <p>OMG! Like so sweet!</p>
        <small>Someone Famous</small>
      </blockquote>
    </div>
  </div>
</div>
