<% 
  pic_s = "#{page.name}_#{number}"
  if defined? pic 
    img_url = pic.image_url
    title = pic.title
    details = pic.details
  else
    img_url = 'upload_picture.jpg'
    title = ''
    details = ''
  end 
%>
<div class="span3">
  <h4 class="text-center">
    Picture <%= number+1 %>
    <% if defined? pic %>
      <%= link_to "Delete Picture", 
            delete_picture_url(picture_id: pic.id),
            class: "btn btn-mini btn-danger",
            confirm: "Are you sure you want to delete this picture?" %> 
    <% end %>
  </h4>
  <%= image_tag img_url, class: "img-polaroid" %>
  <%= file_field_tag "#{pic_s}_image" %>

  <%= label_tag "#{pic_s}_title", "Title", class: "space-top" %>
  <%= text_field_tag "#{pic_s}_title", title, style: "width: 95%" %>

  <%= label_tag "#{pic_s}_details", "Details" %>
  <%= text_area_tag "#{pic_s}_details", details, rows: 3, style: "width: 95%" %>
</div>
