<%= form_tag(:update_home) do %>
  <div class="span10 offset1 space-top">
    <%= label_tag :description, "Quick Description" %>
    <%= text_area_tag :description, company.description.title, rows: 1, style: "width: 100%" %>

    <%= label_tag :comments, "Comments" %>
    <%= text_area_tag :comments, company.description.body, rows: 10, style: "width: 100%" %>
  </div>

  <div class="span12 text-center space-top">
    <%= submit_tag "Save Changes", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
