<%= form_tag :update_sheet, multipart: true do %>
  <div class="container">
    <div class="row">
      <div class="span10 offset1 space-top">
        <%= hidden_field_tag :name, @sheet.name %>
        <%= label_tag :subtitle, "Subtitle" %>
        <%= text_area_tag :subtitle, @sheet.subtitle, rows: 2, style: "width: 100%" %>
      </div>
    </div>

    <% @sheet.pages.each.with_index do |page,i| %>
      <div class="row space-top">
        <hr noshade>
        <div class="span12">
          <h1>Page <%= i+1 %>: <%= page.title %>
            <%= link_to "Delete Page", 
                  delete_page_url(page_id: page.id),
                  class: "btn btn-mini btn-danger",
                  confirm: "Are you sure you want to delete #{page.title}?" %> 
          </h1>
        </div>
      </div>

      <div class="row space-top">
        <div class="span6">
          <%= label_tag "#{page.name}_name", "Name" %>
          <%= text_field_tag "#{page.name}_name", page.name %>

          <%= label_tag "#{page.name}_title", "Title" %>
          <%= text_field_tag "#{page.name}_title", page.title %>

          <%= label_tag "#{page.name}_subtitle", "Subtitle" %>
          <%= text_field_tag "#{page.name}_subtitle", page.subtitle %>

          <%= label_tag "#{page.name}_short", "Short Description" %>
          <%= text_area_tag "#{page.name}_short", page.short_description, rows: 2, style: "width: 90%" %>

          <%= label_tag "#{page.name}_reversed", "Reverse page?" %>
          <%= check_box_tag "#{page.name}_reversed", 'true', page.reversed %>
        </div>

        <div class="span6">
          <%= label_tag "#{page.name}_bullet_1", "Bullets" %>
          <% page.bullets.each.with_index do |bullet, i| %>
            <%= text_field_tag "#{page.name}_bullet_#{i+1}", bullet, style: "width: 90%" %>
          <% end %>

          <%= label_tag "#{page.name}_description", "Description" %>
          <%= text_area_tag "#{page.name}_description", page.description, rows: 12, style: "width: 90%" %>
        </div>
      </div>

      <div class="row">
        <div class="span12">
          <h3>Picture Gallery:</h3>
        </div>
      </div>

      <div class="row">
        <% i = 0 %>
        <% page.pictures.each do |pic| %>
          <%= render '/admins/edit_picture',
                number: i,
                page: page,
                pic: pic %>
          <% i += 1 %>
        <% end %>

        <% while i < 4 %>
          <%= render '/admins/edit_picture',
                number: i,
                page: page %>
          <% i += 1 %>
        <% end %>
      </div>
    <% end %>

    <div class="row space-top">
      <hr noshade>
      <div class="span12">
        <h1>Want another page?</h1>
        <h3>Click this button
          <%= link_to "Add Page", 
                add_page_url(sheet_id: @sheet.id),
                class: "btn btn-small btn-success" %>
        </h3>
      </div>
    </div>

    <hr noshade>
    <div class="span12 text-center space-top">
      <%= submit_tag "Save Changes", class: "btn btn-large btn-primary" %>
    </div>
  </div>
<% end %>
