<div class="span12">
  <ul class="nav nav-pills">
    <li class="<%= 'active' if current_page?(admin_url) %>">
      <%= link_to "Company Info", admin_url %>
    </li>
    <li class="<%= 'active' if current_page?(edit_home_url) %>">
      <%= link_to "Home Page", edit_home_url %>
    </li>
    <li class="<%= 'active' if current_page?(edit_services_url) %>">
      <%= link_to "Services Page", edit_services_url %>
    </li>
    <li class="<%= 'active' if current_page?(edit_about_url) %>">
      <%= link_to "About Page", edit_about_url %>
    </li>
  </ul>
</div>
