<p>
  For a quote or questions, please fill out this online form. A 
  representative will contact you within 1 to 3 business days. If you 
  need a faster response, please call us at 
  <strong><%= company.phone %></strong>.
</p>
<%= f.input :name %>
<%= f.input :email %>
<%= f.input :phone %>
<%= f.input :company %>
<%= f.input :attachment_1, label: "Add files to be quoted" %>
<%= f.input :attachment_2, label: false %>
<%= f.input :attachment_3, label: false %>
<%= f.input :attachment_4, label: false %>
<%= f.input :attachment_5, label: false %>
<%= f.input :comments %>
