<% company.pages.each do |page| %>
  <section id="<%= page.name %>">
    <%= render '/pages/banner', page: page %> 
    <div class="row">
      <% if page.reversed %>
        <div class="span6">
          <%= render '/pages/infobox', page: page %>
        </div>
        <div class="span3">
          <%= render '/pages/picturebox', page: page %>
        </div>
      <% else %>
        <div class="span3">
          <%= render '/pages/picturebox', page: page %>
        </div>
        <div class="span6">
          <%= render '/pages/infobox', page: page %>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
