<div class="row medium-margin">
  <%= render '/pages/banner' %> 
</div>
<div class="row medium-margin">
  <% if @page.reversed %>
    <%= render '/pages/infobox' %>
    <%= render '/pages/picturebox' %>
  <% else %>
    <%= render '/pages/picturebox' %>
    <%= render '/pages/infobox' %>
  <% end %>
</div>
