<% company.pages.each do |page| %>
  <section id="<%= page.name %>">
    <%= render '/pages/banner', page: page %> 
    <div class="row">
      <% if page.reversed %>
        <%= render '/pages/infobox', page: page %>
        <%= render '/pages/picturebox', page: page %>
      <% else %>
        <%= render '/pages/picturebox', page: page %>
        <%= render '/pages/infobox', page: page %>
      <% end %>
    </div>
  </section>
<% end %>
