<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" style="float: right" href="<%= root_url %>">
        <small><%= company.phone %></small> - 
        <%= company.title %>
      </a>
      <ul class="nav">
        <li class="<%= 'active' if current_page?(root_url) %>">
          <%= link_to "Home", root_url %>
        </li>
        <li class="<%= 'active' if current_page?(services_url) %>">
          <%= link_to "Services", services_url %>
        </li>
        <li class="<%= 'active' if current_page?(about_url) %>">
          <%= link_to "About", about_url %>
        </li>
        <li class="<%= 'active' if current_page?(contact_url) %>">
          <%= link_to "Contact", contact_url %>
        </li>
        <% if admin_signed_in? %>
          <li class="<%= 'active' if @is_admin_page %>">
            <%= link_to "Modify Website", admin_url %>
          </li>
        <% end %>
        <a href="#quoteModal" role="button" class="btn btn-info" data-toggle="modal">Get a Quote!</a>
      </ul>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="quoteModal" 
     class="modal hide fade" 
     tabindex="-1" 
     role="dialog" 
     aria-labelledby="quoteModalLabel" 
     aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="quoteModalLabel">Request a Quote</h3>
  </div>
  <div class="modal-body">
    <%= render '/shared/quote' %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Submit</button>
  </div>
</div>

<script type="text/javascript">
  $('#quoteModal').modal(options)
T </script>
