<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body data-spy="scroll" data-target=".sidebar">

  <%= render 'layouts/navbar' %>
  <%= render 'layouts/overview' %>
  <%= render 'layouts/flashes' %>
  <% if @is_admin_page %>
    <%= render '/shared/admin_nav' %>
  <% end %>
  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>
  <%= render 'layouts/footer' %>

  <script type="text/javascript">
    $('body').scrollspy()
  </script>

</body>
</html>
